body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7dabc;
}
h1 {
    text-align:center;
    color: #ff6347;
}
.gallery {
    padding: 20px;
}
.gallery-item {

    /* Glavne stvari */
    
    width: 27%;
    margin: 10px;
	float: left;

    overflow: hidden;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}
img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}