/* ti stili veljajo za vse elemente*/
* {
	font-family: monospace;
}
div {
	margin-left: auto;
	margin-right: auto;
	padding: 50px;
	background-color: darkred;
	width: 40%;
	margin-top: 100px;
}

h1 {
	color: darkgreen;
	background-color: whitesmoke;
	/* se znebi dodatne barve na desni strani, element zavzame le toliko prostora kot text	*/
	font-size: xxx-large;
	text-align: center;
	/* zmanjšamo površino belega ozadja na obeh straneh	*/
	margin-right: 20%;
	margin-left: 20%;
}

p {
	color: white;
	font-size: xx-large;
}

body {
	background-image: url("./christmas.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

img {	
	float: left;
	width: 50px;
}